<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/lib/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/app.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/lib/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><i class="i-logo"></i></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">DLF Vasant Kunj <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-bars fa-fw fa-2x"></span></span>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><span class="fa fa-user fa-fw"></span> User Profile</a>
                        </li>
                        <li><a href="#"><span class="fa fa-gear fa-fw"></span> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><span class="fa fa-sign-out fa-fw"></span> Logout</a>
                        </li>
                    </ul> -->
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <div id="page-wrapper">
            <div class="mod-tile-section panel">
                <div class="row tab-selection-row">
                    <div class="col-xs-12">
                        <div class="btn-group grp-comparison" data-toggle="buttons">
                            <div class="grp-label">Comparisons</div>
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>Consecutive
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off">Like for Like
                            </label>
                        </div>
                        <div class="btn-group grp-timeline" data-toggle="buttons">
                            <div class="grp-label">Period</div>
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Day
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Week
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Month
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row tile-section-row">
                    <div class="col-xs-3 section-opportunity">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 tile-left-section">
                                        <span class="tile-type fa fa-comments fa-4x"></span>
                                        <span class="tile-text-left">Outside Opportunity</span>
                                    </div>
                                    <div class="col-xs-7 tile-right-section ">
                                        <div class="tile-data-count">+ 26%</div>
                                        <div class="tab-type-text">
                                            <span class="tile-percent-change">+5%</span>
                                            <span class="tile-period-parameter">vs last month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 section-storeFront">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 tile-left-section">
                                        <span class="tile-type fa fa-dot-circle-o fa-4x"></span>
                                        <span class="tile-text-left">Storefront Conversion</span>
                                    </div>
                                    <div class="col-xs-7 tile-right-section ">
                                        <div class="tile-data-count">+ 26%</div>
                                        <div class="tab-type-text">vs last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 section-dwellTime">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 tile-left-section">
                                        <span class="tile-type fa fa-clock-o fa-4x"></span>
                                        <span class="tile-text-left">Dwell Time</span>
                                    </div>
                                    <div class="col-xs-7 tile-right-section ">
                                        <div class="tile-data-count">+ 26%</div>
                                        <div class="tab-type-text">vs last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 section-customers">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 tile-left-section">
                                        <span class="tile-type fa fa-circle fa-4x"></span>
                                        <span class="customer-count">22</span>
                                        <span class="tile-text-left">Repeat Customers</span>
                                    </div>
                                    <div class="col-xs-7 tile-right-section ">
                                        <div class="tile-data-count">+ 26%</div>
                                        <div class="tab-type-text">vs last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="morris-donut-chart">
                                <svg height="357" version="1.1" width="294" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                                    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
                                    <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                    <path fill="none" stroke="#0b62a4" d="M147,272.3333333333333A91.33333333333333,91.33333333333333,0,0,0,233.35180688739524,210.75135669275903" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#0b62a4" stroke="#ffffff" d="M147,275.3333333333333A94.33333333333333,94.33333333333333,0,0,0,236.1881801063243,211.72859103668176L271.8004216328778,223.99831113260063A132,132,0,0,1,147,313Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#3980b5" d="M233.35180688739524,210.75135669275903A91.33333333333333,91.33333333333333,0,0,0,65.0802706076015,140.61515489624878" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                                    <path fill="#3980b5" stroke="#ffffff" d="M236.1881801063243,211.72859103668176A94.33333333333333,94.33333333333333,0,0,0,62.38947657646432,139.28864538554163L24.120405911402244,120.42273234437317A137,137,0,0,1,276.52771033109286,225.62703503913855Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#679dc6" d="M65.0802706076015,140.61515489624878A91.33333333333333,91.33333333333333,0,0,0,146.97130678756912,272.33332882621403" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#679dc6" stroke="#ffffff" d="M62.38947657646432,139.28864538554163A94.33333333333333,94.33333333333333,0,0,0,146.97036430978855,275.33332867816995L146.95853097765465,312.99999348606116A132,132,0,0,1,28.60506262996421,122.63358152888509Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="147" y="171" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.4172,0,0,1.4172,-61.3345,-75.9379)" stroke-width="0.7055961070559611">
                                        <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan>
                                    </text>
                                    <text x="147" y="191" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.9028,0,0,1.9028,-132.7083,-165.2083)" stroke-width="0.5255474452554745">
                                        <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                                    </text>
                                </svg>
                            </div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="morris-donut-chart">
                                <svg height="357" version="1.1" width="294" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                                    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
                                    <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                    <path fill="none" stroke="#0b62a4" d="M147,272.3333333333333A91.33333333333333,91.33333333333333,0,0,0,233.35180688739524,210.75135669275903" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#0b62a4" stroke="#ffffff" d="M147,275.3333333333333A94.33333333333333,94.33333333333333,0,0,0,236.1881801063243,211.72859103668176L271.8004216328778,223.99831113260063A132,132,0,0,1,147,313Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#3980b5" d="M233.35180688739524,210.75135669275903A91.33333333333333,91.33333333333333,0,0,0,65.0802706076015,140.61515489624878" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                                    <path fill="#3980b5" stroke="#ffffff" d="M236.1881801063243,211.72859103668176A94.33333333333333,94.33333333333333,0,0,0,62.38947657646432,139.28864538554163L24.120405911402244,120.42273234437317A137,137,0,0,1,276.52771033109286,225.62703503913855Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#679dc6" d="M65.0802706076015,140.61515489624878A91.33333333333333,91.33333333333333,0,0,0,146.97130678756912,272.33332882621403" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#679dc6" stroke="#ffffff" d="M62.38947657646432,139.28864538554163A94.33333333333333,94.33333333333333,0,0,0,146.97036430978855,275.33332867816995L146.95853097765465,312.99999348606116A132,132,0,0,1,28.60506262996421,122.63358152888509Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="147" y="171" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.4172,0,0,1.4172,-61.3345,-75.9379)" stroke-width="0.7055961070559611">
                                        <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan>
                                    </text>
                                    <text x="147" y="191" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.9028,0,0,1.9028,-132.7083,-165.2083)" stroke-width="0.5255474452554745">
                                        <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                                    </text>
                                </svg>
                            </div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../js/lib/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/lib/bootstrap.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../js/build/sb-admin-2.js"></script>

    <script src="../js/build/app.js"></script>

</body>

</html>
