.mod-internal-benchmarking {
    .x-label {
    	margin-top: 20px;
        .benchmark-x-label {
            margin-top: 18px;
            padding-bottom: 50px;
            font-size: 15px;
        }
    }
}