.mod-impact,
.impact-edit {
    .panel-body {
        min-height: 340px;
        .panel-top {
            .section-heading {
                display: inline-block;
            }
            .edit-btn {
                float: right;
                display: inline-block;
            }
        }
        .row {
            margin: 15px;
            .impact-label, .impact-desc {
                font-size: 15px;
            }
            .impact-change {
                font-size: 18px;
                text-align: right;
                &.impact-pos {
                    color: $color-darkgreen;
                }
                &.impact-neg {
                    color: $color-red;
                }
            }
        }
    }
}

.impact-edit {
    position: absolute;
    top: 0;
    width: 95.5%;
    visibility: hidden;
    min-height: 342px;
    background-color: #7f7f7f;
    color: #ffffff;
}
