.navbar-default {
    background-color: #ffffff;
    .navbar-brand {
        padding: 10px 15px;
    }
    .navbar-top-links {
        margin-right: 0;
        .filter-modal {
            display: inline-block;
            .filter-selection {
                font-size: 16px;
                color: #337ab7;
                margin: 10px;
                .fa{
                    font-size: 1.1em;
                }
            }
        }
        li {
            display: inline-block;
            &:last-child {
                margin-right: 15px;
            }
            a {
                padding: 17px;
                min-height: 50px;
                .caret {
                    margin-left: 15px;
                }
            }
        }
        .dropdown-menu li {
            display: block;
            &:last-child {
                margin-right: 0;
            }
            a {
                padding: 3px 20px;
                min-height: 0;
                div {
                    white-space: normal;
                }
            }
        }
    }
}

.mod-filter-panel, .mod-filter-panel-time-trend {
    .lbjs {
        display: inline-block;
        .lbjs-item[data-disabled="true"] {
            color: gray;
        }
    }
}